/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/01/2017, 04:47:51 PM
    Author     : Panda
*/

/* Nueva Tabla */

.TableContainer
{   
    overflow-x: scroll;
    overflow-y: hidden;
}
.TableContainer table
{
    border-collapse:collapse;
    border-spacing:0;
    border: rgba(193, 193, 193, 0.48) 1px solid;
    table-layout: auto;
    padding-right: 0.5em;
}
.SecBody tr
{
    background-color: #E6EBEB;
    font-size:small;
    font-family: sans-serif;
}
.SecHead thead> tr
{
    margin-top: 0;
    background-color:#DDDDDD;
    font-family: Tahoma;
    font-size:small;
    margin-top: 0;
    bottom: 0;
}
.SecHead
{
    display: block;
}
.SecBody
{
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 270px;
}
.ocultar
{
    visibility: hidden;
}
/*  Fin */