/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-ago-2016, 20:12:48
    Author     : AREConsulting
*/

.ContentUbicaciones{
    width: 60%;
    margin-bottom: 40px;
}
input{
    font-family: "Courier New";
}
.divubic{
    width: 100%;
    height: 70px;
    background: #fff;
    padding-left: 2%;
}
#lineaubititu{
    border: 1px solid #3892E0;
    margin-left: -2%;
    margin-top: 0;
}
.divubic1{
    width: 35%;
    float: left;
}
.divubic1 input{
    width: 90%;
}
.divubic2{
    width: 65%;
    float: left;
}
.divubic2 input{
    width: 83%;
}
.divubic3{
    width: 30%;
    float: left;
}
#TableNotfi
{
    width: 100%;
    background-color: #E6EBEB;
}
.TableContainer
{   
    overflow-x: scroll;
    overflow-y: hidden;
}
.TableContainer table
{
    border-collapse:collapse;
    border-spacing:0;
    border: rgba(193, 193, 193, 0.48) 1px solid;
    table-layout: auto;
    padding-right: 0.5em;
}
.SecBody tr
{
    background-color: #E6EBEB;
    font-size:small;
    font-family: sans-serif;
}
.SecHead thead> tr
{
    margin-top: 0;
    background-color:#DDDDDD;
    font-family: Tahoma;
    font-size:small;
    margin-top: 0;
    bottom: 0;
}
.SecHead
{
    display: block;
}
.SecBody
{
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;    
}
#SecCuerpo { 
    height: 200px; 
}
#SecCuerpoN { 
    height: 200px; 
}
.ocultar
{
    visibility: hidden;
}
#VentanaModalCentroP{
    width:75%; 
    height: 350px;
 }  
.DatosGeneUbi{
    margin-top: 10px;
    width: 100%;
    height: 160px;
    background: #fff;
    padding-left: 2%;
}
.datogen1{
    width: 45%;
    float: left;
}
.datogen1 label{
    width: 35%;
    display: inline-block;
}
.datogen1 hr{
    width: 35%;
    margin-left: 0;
    margin-top: -1px;
}
.datogen2{
    margin-top: 8%;
    width: 45%;
    float: left;
}
.datogen2 label{
    width: 45%;
    display: inline-block;
}
.datogen2 hr{
    width: 45%;
    margin-left: 0;
    margin-top: -1px;
}
.datoEmplaz{
    padding-left: 2%;
    width: 100%;
    background: #fff;
    margin-top: 10px;
    height: 200px;
}
.subdatoemp{
    width:100%;
}
.subdatoemp label{
    width:16%;
    display: inline-block;
}
.subdatoemp hr{
    width:16%;
    margin-left: 0;
    margin-top: -1px;
}
.divinputacio{
    padding-left: 2%;
    width: 100%;
    background: #fff;
    margin-top: 10px;
    height: 130px; 
}
.divResponsa{
    padding-left: 2%;
    width: 100%;
    background: #fff;
    margin-top: 10px;
    height: 130px; 
}
.divEstuc{
    padding-left: 2%;
    width: 100%;
    background: #fff;
    margin-top: 10px;
    height: 100px; 
}
.VentanaModalAvvv
{
    position: fixed; 
    width: 250px; 
    height: 130px;
    left: 100%; 
    font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size: 15px; 
    font-weight: normal; 
    border: #333333 3px solid; 
    background-color: #f2f2f2; 
    color: #000000;
    display:none;
    z-index:1002;
}
#handleAvvv{
    margin-left: -2px;
    padding-top: .4%;
    padding-left: .3%;
    padding-bottom: .2%;
    height: 13%;
    width: 101%;
    color:#E1F0D0;
    font-family: "Tahoma"; 
    font-size: .8em;
    background: #333  top repeat-x;
}
@media screen and (min-width: 500px) and (max-width: 1000px){  
    .ContentUbicaciones{
        width: 100%;   
    }

}
@media screen and (min-width: 200px) and (max-width: 500px){  
    .ContentUbicaciones{
        width: 100%;   
    }

}