/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 15, 2018, 4:53:30 PM
    Author     : Jhonatan
*/
input{
    font-family: "Courier New";
}
/*Busqueda General*/
.ContentNotif{
    margin-bottom: 30px;
    width: 60%;
    height: 70px;
    background: #fff;
    padding-left: 2%;
}
#lineaNotiTiempos{
    border: 1px solid #3892E0;
    margin-left: -2%;
    margin-top: 0;
}
.divNoPers1{
    width: 50%;
    float: left;
}
.divNoPers1 input{
    width: 50%;
}
.divNoPers1 label{
    width: 40%;
    display: inline-block;
}
.divNoPers1 hr{
    width: 40%;
    margin-left: 0;
    margin-top: -1px;
}
.divNoPerso2{
    width: 35%;
    float: right;
}
/*Div Radio Buttons*/
.bkClassNoti{
    margin-bottom: 30px;
    background-color: white;
    margin-right: 55%;    
    padding-bottom: 5px;
    font-size: 13px;
    font-family: Tahoma;
    width: 62%;
    height: 50px;
}
#LineaTituloInfo{
    /*margin-left: -2%;*/
    /*margin-top: 0;*/
    margin-top: -1px;
    border: 1px solid #3892E0;
    margin-left: 0;
    width: 100%;
}

.rbcln{ 
    margin-left: 5%; 
}

/*Div Datos Generales*/
.DatosGeneNotiTiemp{
    margin-bottom: 30px;
    /*margin-top: 6px;*/
    width: 60%;
    height: 105px;
    background: #fff;
    padding-left: 2%;
}
.divNoOrdFabri hr{
    width: 20%;
    margin-left: 0;
    margin-top: -1px;
}
.divNoOrdFabri label{
    width: 20%;
    display: inline-block;
}
.divNoOrdFabri section{
    margin-left: -5px;
    width: 20%;
    display: inline-block;
}
/*.divMostarOp select{
    margin-left: 4%;
    width: 10%;
}*/
/*Div Datos Reales*/
.DatosReales{
    /*margin-top: 40px;*/
    width: 60%;
    height: 90px;
    background: #fff;
    padding-left: 2%;
}
.divCntBuenMal{
    float: left;
    width: 50%;
}
.divCntBuenMal hr{
    width: 50%;
    margin-left: 0;
    margin-top: -1px;
}
.divBtnIniFin{
    float: right;
    width: 50%;
}
.divBtnIniFin label{
    margin-left: 5px;
}
.divmatchEsp{
    background: #FFFFFF;
    width: 60%;
    display: inline-block;
    padding-left: 2%;
    padding-bottom: 1%;
}
.lineaazul{
    margin-left: -2%;
    margin-top: 0;
    width: 101.5%;
    border: 1px solid #3892E0;
}

@media screen and (min-width: 500px) and (max-width: 1000px){  
    .ContentNotif{
        width: 100%;   
    }

}
@media screen and (min-width: 200px) and (max-width: 500px){  
    .ContentNotif{
        width: 100%;   
        
    }

}