.divCabeceraCrea{
    width: 90%;
    height: auto;
}
.contain-cabeceracrea{
    width: 100%;
    padding-left: 2%;
    background: #fff;
    height: 190px;
}
#linetitu{
    width: 100;
    margin-left:-2%;
    border: 1px solid #3892E0;
    margin-top: -1px;
}
.Contenedor1{
    width: 100%;
    height: 160px;
}
.SectionFloat{
    float: left;
    width: 35%;
    height: 170px;
    /*border: solid 1px #060;*/
}
.SectionFloat label{
    display: inline-block;
    width: 40%;   
}
.SectionFloat hr{
    margin-left: 0;
    margin-top: -1px;
    width: 40%;   
}
.SectionFloat2{
    float: left;
    width: 35%;
    height: 160px;
    /*border: solid 1px #060;*/
}
.SectionFloat2 label{
    display: inline-block;
    width: 40%;   
}
.SectionFloat2 hr{
    margin-left: 0;
    margin-top: -1px;
    width: 40%;   
}
.SectionFloat3{
    float: left;
    width: 30%;
    height: 160px;
    /*border: solid 1px #060;*/
}
.SectionFloat3 label{
    display: inline-block;
    width: 45%;   
}
.SectionFloat3 hr{
    margin-left: 0;
    margin-top: -1px;
    width: 45%;   
}
.Contenedor2{
    width: 100%;
    height: 150px;
}
.DivPosiciones{
    width: 90%;
    padding-left: 2%;
    height:300px;
    background: #fff;  
    margin-top: 1%;
}
#tabscrll2{
    margin-left: -1%;
    width: 99%;
    display: inline-block;
}
.DobleScroll2 { 
    height: 210px;
    width: 17px; 
    background-color: #007CC0;
    display: inline-block;
    margin-bottom: 17px;
    margin-left: -22px;
    overflow-y: scroll;
    overflow-x: hidden; 
}
#TableNotfi2
{
    width: 100%;
    background-color: #E6EBEB;
}
.TableContainer2
{   
    overflow-x: scroll;
    overflow-y: hidden;
}
.TableContainer2 table
{
    border-collapse:collapse;
    border-spacing:0;
    border: rgba(193, 193, 193, 0.48) 1px solid;
    table-layout: auto;
    padding-right: 0.5em;
}
.SecBody2 tr
{
    background-color: #E6EBEB;
    font-size:small;
    font-family: sans-serif;
}
td{
    text-align: center;
}
.SecHead2 thead> tr
{
    margin-top: 0;
    background-color:#DDDDDD;
    font-family: Tahoma;
    font-size:small;
    margin-top: 0;
    bottom: 0;
}
.SecHead2
{
    display: block;
}
.SecBody2
{
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;    
}
#SecCuerpo2  { height: 210px; }
.ocultar
{
    visibility: hidden;
}
.tdSMatch{
    text-align: center;
    border:none;
    width:100%;
}
.tdCMatch{
    text-align: center;
    border:none;
    width:100%;
}
.BtnMatchIconGrid{
    border: solid 1px rgb(163,163,163);
    background: rgb(229,229,229);
    background-image: url('../images/match.png');
    background-position: center;
    background-repeat:no-repeat;
    vertical-align:middle;
    margin-top: -2.5px;
    height: 18px;
    width: 19px;
    cursor: pointer;
    display:none;
}
.BtnMatchIconDescricabe{
    border: solid 1px rgb(163,163,163);
    background: rgb(229,229,229);
    background-image: url('../images/btnDescri.png');
    background-position: center;
    background-repeat:no-repeat;
    vertical-align:middle;
    /*margin-top: -2.5px;*/
    height: 18px;
    width: 20px;
    margin-left: 8%;
    cursor: pointer;
}


.VentanaModalTxtCabecera{    
    position: fixed; 
    width: 500px; 
    height: 400px;
    margin-top: 20px;
    left: 100%; 
    font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size: 12px; 
    font-weight: normal; 
    border: #333333 3px solid; 
    background-color: #f2f2f2; 
    color: #000000;
    display:none;
    z-index:1002;
}
#handleTxtCab, #handleTxtPos{
    height: 7%;
    color:#E1F0D0;
    background: #333  top repeat-x;
}
.Contenttexto2{
    height: 80%;
}
#textoCabecera, #textoPos, #textoEmbarq{
    margin-top: 4%;
    margin-left: 3%;
    margin-right: 2%;
    height: 90%;
    width: 92%;
    overflow-x: scroll; 
    border: double #000;
}
.Botones_MatchTEX{
    height:  13%;
    padding-right: 1%;
}
.Botones_MatchTEX img{
    margin-top: 2%;
    margin-left: 5px;
    float:right;
}

.VentanaFecha{
    position: fixed; 
    width: 330px; 
    height: 280px;
    margin-top: 10px;
    left: 100%; 
    font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size: 17.2px; 
    border: #333333 3px solid; 
    background-color: #f2f2f2; 
    color: #000000;
    display:none;
    z-index:1002; 
}
#handlecalendar{
    padding-top: .5%;
    height: 7%;
    width: 100%;
    font-family: "TAHOMA";
    font-size: 14px;
    color:#E1F0D0;
    background: #333  top repeat-x;
}
.Selectdatatextpos{
    height: 8%;
}
.Selectdatatextpos select{
    margin-top: 2%;
    margin-left: 3%;
}
.Contenttextopos{
    height: 76%;
}
.Botones_MatchTEXp{
    height:  15%;
    padding-right: 1%;
}
.Botones_MatchTEXp img{
    margin-top: 2%;
    float:right;
}
@media screen and (min-width: 300px) and (max-width: 1000px){ 
    .divCabeceraCrea{
        width: 100%;
        height: auto;
    }
    .contain-cabeceracrea{
        width: 100%;
    }
    .DivPosiciones{
        width: 100%;
    }
}
