/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-ago-2016, 1:02:19
    Author     : AREConsulting
*/

.ContentMateriales{
    width: 80%;
}
input{
    font-family: "Courier New";
}
.DatosBasicComp_info{
    width: 100%;
    margin-top: 10px;
    background: #fff;
    height: 160px;
    padding-left: 2%;
}
#LineaTituloInfo{
    margin-left: -2%;
    margin-top: 0;
    border: 1px solid #3892E0;
}
.divdatosEmplazamiento{
    width: 100%;
}
.divdatosEmplazamiento label{
    width: 20%;
    display: inline-block;
}
.divdatosEmplazamiento hr{
    width: 20%;
    margin-top: -1px;
    margin-left: 0;
}
.Datos_info{
    width: 100%;
    margin-top: 10px;
    background: #fff;
    height: 100px;
    padding-left: 2%;
}
.BasicoComp11_info{
    float: left;
    width: 49%;
    padding-top: -1px;
    padding-right: 0;
}
.BasicoComp11_info label{
    display: inline-block;
    width: 35%;
    margin-left: 0px;
}
.BasicoComp11_info hr{
    width: 35%;
    margin-left: 0;
    margin-top: -1px;
}
.BasicoComp12_info{
    float:left;
    width: 49%;
    padding-top: -1px;
    padding-right: 0;  
}
.BasicoComp12_info label{
    display: inline-block;
    width: 35%;
    margin-left: 0px;
}
.BasicoComp12_info hr{
    width: 35%;
    margin-left: 0;
    margin-top: -1px;
}
.VisualInfoRecord_info{
    height: 180px;
    width: 100%;
    padding-left: 2%;
    margin-top: 10px;
    background: #fff; 
}
.ParametrosBusqueda_info{
    width: 100%;
}
.ParamIzq_info{
    border: 1px solid #ddd;
    width: 14%;    
    padding-left: 0.5%;
    margin-left: 0.1%;
    float: left;    
    height: 140px;
}
.Basic_info{
    width: 85%;
    float:left;
    height: 80%;
}
.Basic_info label{
    width: 65%;
    margin-left: 0%;
    display:inline-block;
}
.Basic_info hr{
    width: 65%;
    margin-left: 0%;
    margin-top: -1px;
}

.ParamDer_info{
    float:left;
    border: 1px solid #ddd;
    width: 48%;;
    height: 140px;
    padding-left: 0.5%;
    margin-left: 0.1%;
}

.BasicoCo_info{
    width: 48%;
    float: left;
    padding-left: .5px;
}
.BasicoCo_info label{
    display: inline-block;
    width: 75%;
}
.BasicoCo_info hr{
    width: 75%;
    margin-top: -1px;
    margin-left: 0;
}
.BasicoComp2_info{
    width: 48%;
    float:left;
}
.BasicoComp2_info label{
    width: 75%;
    display:inline-block;
}
.BasicoComp2_info hr{
    width: 75%;
    margin-left: 0;
    margin-top: -1px;
}
.Parem_info{
    float:left;
    border: 1px solid #ddd;
    width: 35%;
    height: 140px;
    padding-left: 0.5%;
}
.Bas_info{
    float:left;
    width: 48%;
    padding-top: -1px;
    padding-right: 0;  
}
.Bas_info label{
    width: 75%;
    margin-left: 0;
    display:inline-block;
}
.Bas_info hr{
    width: 75%;    
    margin-top: -1px;
    margin-left: 0;
}
.Basi_info{
    float:left;
    width: 48%;
    padding-top: -1px;
    padding-right: 0;
}
.Basi_info label{
    width: 55%;
    display: inline-block;
}
.Basi_info hr{
    width: 55%;
    margin-left: 0;
    margin-top: -1px;
}
.DatosBa_info{
    width: 100%;
    margin-top: 10px;
    background: #fff;
    height: 70px;
    padding-left: 2%;
}
.VisualInfoRecord2_info{
    background: #fff;
    padding-left: 2%;
    height: 250px;
    width: 100%;
}
.Dato_info{
    margin-top: 10px;
    background: #fff;
    height: 250px;
    padding-left: 1%;
}
.Parametros_info{
    height: 280px;
    width: 100%;
    padding-left: 0;
    margin-top: 10px;
}
.ParamD_info{
    float:left;
    border: 1px solid #ddd;
    width: 53%;
    height: 190px;
    padding-left: 0.5%;
}
.Parem_in{
    float:left;
    border: 1px solid #ddd;
    width: 45%;
    height: 190px;
    padding-left: 0.5%;
}
.Dato2_info{
    margin-top: 10px;
    width: 100%;
    padding-left: 2%;
    background: #fff;
    height: 160px;
    margin-bottom: 20px;
}
.BasicoComp14_info{
    float: left;  
}
.BasicoComp14_info label{
    width: 45%;
    display: inline-block;
}
.BasicoComp14_info hr{
    margin-top: -1px;
    margin-left: 0;
    width: 44%;
}
.BasicoComp13_info{
    float: left; 

}
.BasicoComp13_info label{
    width: 43%;
    display: inline-block;
}
.BasicoComp13_info hr{
    margin-top: -1px;
    margin-left: 0;
    width: 43%;
}
.VentanaModalMate{    
    position: fixed; 
    width: 600px; 
    height: 400px;
    margin-top: 20px;
    left: 100%; 
    font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size: 12px; 
    font-weight: normal; 
    border: #333333 3px solid; 
    background-color: #f2f2f2; 
    color: #000000;
    display:none;
    z-index:1002;
}
.fixedYM{
    position: relative;
    top: 0;
    z-index: 99;
    background-color: #ddd;
    text-align: center;
}


.fixedYM table{
    border-collapse: collapse;
    width: 100%;;
}


.fixedYM table th, #fixedY table td {
    width: 25%;
}


.fixedYM table th {
    background-color: #ddd;
    font: 11% 1em Tahoma;
    color:#000;
}
#cuerpoDatos > div.nofixedXM table{
    border-collapse: collapse;
    width: 100%;
}


#cuerpoDatos > div.nofixedXM table td {
    width: 25%;
}
@media screen and (min-width: 500px) and (max-width: 1000px){  
    .ContentMateriales{
        width: 100%;
        margin-bottom: 15%;
    }
}
@media screen and (min-width: 200px) and (max-width: 500px){  
    .ContentMateriales{
        background: #fff;
        margin-bottom: 15%;
    }
}



