/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/01/2018, 01:39:43 PM
    Author     : Panda
    Sustituye MonitorPP.css en antiguo SAM
*/

.DobleScroll {
    width: 17px;
    display: block;
    margin-top: 20px;
    margin-left: -22px;
    overflow-y: scroll;
    overflow-x: hidden; 
    float: right;
    z-index: 1; position:relative;
}
#DobleSection { height: 380px; }
#SecCuerpo { height: 380px; }
.TableContainer
{
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}
.TableContainer table
{
    border-collapse:collapse;
    border-spacing:0;
    border: rgba(193, 193, 193, 0.48) 1px solid;
    table-layout: auto;
    padding-right: 0.5em;
}
.SecBody tr
{
    background-color: #E6EBEB;
    font-size:small;
    font-family: sans-serif;
}
.SecHead thead> tr
{
    margin-top: 0;
    background-color:#DDDDDD;
    font-family: Tahoma;
    font-size:small;
    margin-top: 0;
    bottom: 0;
}
.SecHead
{
    display: block;
}
.SecBody
{
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #E6EBEB;
}
.ocultar
{
    visibility: hidden;
}
.bkSubSec{
    padding-left: 15px;
    padding-right: 6%;
}
.bkButtons{
    padding-left: 15px;
    padding-bottom: 5px;
}
.bgButtons{
    border: solid 1px rgb(163,163,163);
    background: rgb(229,229,229);
    background-position: center;
    background-repeat:no-repeat;
    vertical-align:middle;
    margin-top: -2.5px;
    height: 23px;
    width: 24px;
    cursor: pointer;
}
#imgLib{ background-image: url('../images/liberar.png'); }
#imgCie{ background-image: url('../images/cierretecnico.png'); }
#imgCan{ background-image: url('../images/cancelarcierre.png'); }

.bkClassNoti{
    background-color: white;
    margin-left: 15px;
    margin-right: 55%;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-size: 13px;
    font-family: Tahoma;
}
#LineaTituloInfo{
    margin-left: -2%;
    margin-top: 0;
    border: 1px solid #3892E0;
    margin-left: 0;
}
.rbcln{ margin-left: 5%; }