/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 15, 2018, 4:53:30 PM
    Author     : Jhonatan
*/
.Ventabdes{    
    position: fixed; 
    width: 983px; 
    height: 580px;
    z-index: 1002;
    left: 100%;
    border: #333333 3px solid; 
    background-color: #f2f2f2; 
    color: #000000;
    display:none;

}
#handlePM01{
    margin-left: -2px;
    padding-top: .4%;
    padding-left: .3%;
    padding-bottom: .2%;
    height: 3%;
    width: 100%;
    color:#E1F0D0;
    font-family: "Tahoma"; 
    font-size: .8em;
    background: #333  top repeat-x;   
}
.Contentabdes{
    margin-top: 10px;
    margin-left: 10px;
    width: 98%;
    height: auto;
}
.DobleScroll {
    width: 17px;
    display: block;
    margin-top: 20px;
    margin-left: -22px;
    overflow-y: scroll;
    overflow-x: hidden; 
    float: right;
    z-index: 1; position:relative;
}
#DobleSection { height: 420px; }
#SecCuerpoCld { height: 420px; }
.TableContainer
{
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}
.TableContainer table
{
    border-collapse:collapse;
    border-spacing:0;
    border: rgba(193, 193, 193, 0.48) 1px solid;
    table-layout: auto;
    padding-right: 0.5em;
}
.SecBody tr
{
    background-color: #E6EBEB;
    font-size:small;
    font-family: sans-serif;
}
.SecHead thead> tr
{
    margin-top: 0;
    background-color:#DDDDDD;
    font-family: Tahoma;
    font-size:small;
    margin-top: 0;
    bottom: 0;
}
.SecHead
{
    display: block;
}
.SecBody
{
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #E6EBEB;
}
.ocultar { visibility: hidden; }
.bxMed
{
    background-repeat: no-repeat;
    width: 98%;
    height: 14px;
    text-align: left;
    font-family:  Courier New;
    font-size: 1em;
    font-weight: bold;
}


.btnCalidad3{
    background-image: url(../images/DELETEADD.PNG); 
    background-repeat: no-repeat;
    width: 28px;
    height: 25px;
    padding-right: 1%; 
    padding-left: 2%;
    padding-bottom: .6%;
}
.Botpm{
    float: right;
    margin-top: -2%;
    margin-right: 20%;
}



.VentanaModalLoteL
{    
    position: fixed; 
    width: 750px;
    height: 370px;
    margin-top: 20px;
    left: 100%; 
    font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size: 12px; 
    font-weight: normal; 
    border: #333333 3px solid; 
    background-color: #f2f2f2; 
    color: #000000;
    display:none;
    z-index:1002;
}
.fixedYL{
    position: relative;
    top: 0;
    z-index: 99;
    background-color: #ddd;
    text-align: center;
}
.fixedYL table{
    border-collapse: collapse;
    width: 100%;
}
.fixedYL table th, #fixedYL table td, #fixedYCC table td {
    width: 20%;
}
.fixedYL table th {
    background-color: #ddd;
    font: 11% 1em Tahoma;
    color:#000;
}
#cuerpoDatos > div.nofixedXL table{
    border-collapse: collapse;
    width: 100%;
}
#cuerpoDatos > div.nofixedXL table td {
    width: 20%;
}

#handle6{
    margin-left: -2px;
    padding-top: .4%;
    padding-left: .3%;
    padding-bottom: .2%;
    height: 5%;
    width: 100%;
    color:#E1F0D0;
    font-family: "Tahoma"; 
    font-size: 1em;
    background: #333  top repeat-x;
}



.VenAvisoss{    
    position: fixed; 
    width: 400px; 
    height: 150px;
    margin-top: 20px;
    left: 100%; 
    z-index: 1004; 
    border: #333333 3px solid; 
    background-color: #f2f2f2; 
    color: #000000;
    display:none;
}
#handleAv2, #handleAv4{
    font-size: 0.8em;
    margin-left: -2px;
    height: 15%;
    width: 101%;
    color:#E1F0D0;
    background: #333  top repeat-x;
}
.ContenidoAv{
    font-family: "Tahoma"; 
    font-size: 1em;
    margin-top:2%;   
    margin-right: 2%;
}
.imgeninfo{
    margin-top: 6%;
    float: left;
    width: 14%;
    /*background: 16px 16px no-repeat url(images/info.gif);*/
}
.imgeninfo img{
    margin-left: 10%;
    width: 50%;
    height: 35%;
}
.BotenAv{
    margin-top: 14%;
    text-align: center;
    float: right;
    margin-right: 5px;
}



input{
    font-family: "Courier New";
}
/*Busqueda General*/
.ContentNotif{
    margin-bottom: 30px;
    width: 60%;
    height: 70px;
    background: #fff;
    padding-left: 2%;
}
#lineaNotiTiempos{
    border: 1px solid #3892E0;
    margin-left: -2%;
    margin-top: 0;
}
.divNoPers1{
    width: 50%;
    float: left;
}
.divNoPers1 input{
    width: 50%;
}
.divNoPers1 label{
    width: 40%;
    display: inline-block;
}
.divNoPers1 hr{
    width: 40%;
    margin-left: 0;
    margin-top: -1px;
}
.divNoPerso2{
    width: 35%;
    float: right;
}
/*Div Radio Buttons*/
.bkClassNoti{
    margin-bottom: 30px;
    background-color: white;
    margin-right: 55%;    
    padding-bottom: 5px;
    font-size: 13px;
    font-family: Tahoma;
    width: 62%;
    height: 50px;
}
#LineaTituloInfo{
    /*margin-left: -2%;*/
    /*margin-top: 0;*/
    margin-top: -1px;
    border: 1px solid #3892E0;
    margin-left: 0;
    width: 100%;
}

.rbcln{ 
    margin-left: 5%; 
}

/*Div Datos Generales*/
.DatosGeneNotiTiemp{
    margin-bottom: 30px;
    /*margin-top: 6px;*/
    width: 60%;
    height: 105px;
    background: #fff;
    padding-left: 2%;
}
.divNoOrdFabri hr{
    width: 20%;
    margin-left: 0;
    margin-top: -1px;
}
.divNoOrdFabri label{
    width: 20%;
    display: inline-block;
}
.divNoOrdFabri section{
    margin-left: -5px;
    width: 20%;
    display: inline-block;
}
/*.divMostarOp select{
    margin-left: 4%;
    width: 10%;
}*/
/*Div Datos Reales*/
.DatosReales{
    /*margin-top: 40px;*/
    width: 60%;
    height: 90px;
    background: #fff;
    padding-left: 2%;
}
.divCntBuenMal{
    float: left;
    width: 50%;
}
.divCntBuenMal hr{
    width: 50%;
    margin-left: 0;
    margin-top: -1px;
}
.divBtnIniFin{
    float: right;
    width: 50%;
}
.divBtnIniFin label{
    margin-left: 5px;
}
.divmatchEsp{
    background: #FFFFFF;
    width: 60%;
    display: inline-block;
    padding-left: 2%;
    padding-bottom: 1%;
}
.lineaazul{
    margin-left: -2%;
    margin-top: 0;
    width: 101.5%;
    border: 1px solid #3892E0;
}

@media screen and (min-width: 500px) and (max-width: 1000px){  
    .ContentNotif{
        width: 100%;   
    }

}
@media screen and (min-width: 200px) and (max-width: 500px){  
    .ContentNotif{
        width: 100%;   
        
    }

}